html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html{
	overflow-y: scroll;
}
body { line-height: 1;font-family: Arial, Helvetica, sans-serif;font-size: 12px; width: 100%; height: 100%; color: #000; font-size: 14px; }
h1{
	font: 48px arial,helvetica,sans-serif  bold;
	text-transform: uppercase;
}
h2{
	font: 25px arial,helvetica,sans-serif  bold;
}
.clear{
	clear: both;
}
.clear-no-space {
	clear: both;
	height: 1px;
	margin:0px;
	overflow: hidden;
	padding:0px;
}

.right-text{
	float: right;
}

.left-text{
	float: left;
}

#wrapper  { margin: 10px auto; width: 1000px; }
#wrapper  a { text-decoration: none; color: #F48A00; }
#wrapper  span.highlight { color: #F48A00; }

#wrapper  header #header {
	border-bottom: 1px solid #ccc;
	margin: 0px 0px 20px 0px;
}
#wrapper  header #header hgroup h2 {
	font-family: 'Irish Grover', cursive;
	font-size: 92px;
	line-height: 110px;
	text-align: center;
}
#wrapper  header #header hgroup h2 a {
	color: #000;
}
	
#wrapper  header #header hgroup h3 {
	font-family: 'La Belle Aurore', cursive; 
	font-size: 24px;
	text-align: center;
	font-weight: normal;
	margin: 0px 0px 20px 0px;
}


#wrapper  header  #header .top {
	margin: 0px 0px 10px 0px;
}

#wrapper  header  #header .top  nav #main-nav{
	float: right;
	list-style: none;
	position: relative;
	z-index: 94;
}

#wrapper header  #header .top  nav #main-nav li{ 
	display: inline;
	padding: 0px 20px;
	position: relative;
	z-index: 94;
}

#wrapper header  #header .top #account-holder{
	float: right;
	padding: 0px 20px;
}

#wrapper section .main-col form .row{
	width: 100%;
}

#wrapper section .main-col form .row label{
	float: left;
	line-height: 2.5em;
	width: 175px;
}
#wrapper section .main-col form .row .controls{
	float: left;
}
#wrapper section .main-col form .row .controls input{
	border-radius: 3px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	font-size: 14px;
	height: 20px;
	outline: none;
	width: 200px;
}
#wrapper section .main-col form .row .controls textarea{
	height: 200px;
	width: 400px;
}
#wrapper section .main-col form .row .controls input.error{
	border: 1px solid #f00;
}
#wrapper section .main-col form .row .controls label.error{
	color: #f00;
	display: block;
	font-weight: normal;
	float: none;
	width: auto;		
}

#wrapper .sidebar{
	float: right;
}

#wrapper footer #footer{
	margin: 0px auto;
	text-align: center;
}
